/*
Theme Name: Divi Child
Theme URI: http://www.elegantthemes.com/gallery/divi/
Template: Divi
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.9.10.1652101459
Updated: 2022-05-09 14:04:19

*/
body {
  background-color: #f5f3f0;
}

#main-content {
  background-color: #f5f3f0;
}

#sidebar {
  display: none;
}
.et_right_sidebar #main-content .container:before {
  display: none;
}
#left-area {
  width: 100%;
  padding-bottom: 23px;
}

/* hovereffekt til nav-menu */
#top-menu .current-menu-item a::before,
#top-menu .current_page_item a::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}
#top-menu li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: 50%;
  background: #608062;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#top-menu li a:hover {
  opacity: 1 !important;
}
#top-menu li a:hover:before {
  right: 0;
}
#top-menu li li a:before {
  bottom: 10%;
}

/* testemonial-slider */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;

  margin-top: -22px;

  color: #608062;
  font-weight: bold;
  font-size: 55px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 12%;
  left: 41%;
}

/* poterne */
.slider__navlink {
  cursor: pointer;
  height: 40px;
  width: 40px;

  background-image: url("https://pernillestrate.dk/hoersholm_dyrepension/wp-content/themes/Divi-child/images/unactive.png");
  border-radius: 50%;
  display: inline-block;
  background-repeat: no-repeat;
}

.active_nav,
.slider__navlink:hover {
  background-image: url("https://pernillestrate.dk/hoersholm_dyrepension/wp-content/themes/Divi-child/images/active.png");
}

.slider {
  max-width: 900px;
  margin: 20px;
  text-align: center;
}

.slide:nth-of-type(even) {
  background-color: #f5f3f0;
}

.slide {
  height: 400px;

  background-color: #f5f3f0;
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.slide a {
  background: none;
  border: none;
}

.active_nav {
  background-image: url("https://pernillestrate.dk/hoersholm_dyrepension/wp-content/themes/Divi-child/images/active.png");
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
}

.testemonial__img {
  width: 20%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.ejer {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  color: #608062;
  text-align: right;
  margin-right: 10vw;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .slider-container {
    padding-top: 0px;
  }
  .slides {
    padding: 0px 0 -10px 0;
  }

  .slider {
    overflow: visible;
  }

  .slider__nav {
    top: 400px;
  }

  h2.ejer {
    font-size: 20px;
  }
  .slider__nav {
    top: 530px;
    left: 23%;
  }
  .testemonial__img {
    width: 25vw;
  }

  .prev,
  .next {
    top: 100%;
  }
}
